// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto Serif');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
// @import '~bootstrap-vue/dist';



@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css';

.ivu-input-group .ivu-input, .ivu-select-item, .b-form-spinbutton.form-control.d-flex.align-items-stretch{
  text-align:center !important;
  font-family: Poppins,sans-serif !important;
  font-size: 1rem !important;
  color: #212529 !important;
  
}
.b-form-spinbutton.form-control.d-flex.align-items-stretch{
  background: #fff;
  border:1px solid #ddd;
}

.input-group.input-group-sm  input{
  background: white; 
  border:2px solid #ddd;
}

fieldset{
  border:0px !important;
}








[v-cloak] > * { display: none; }
[v-cloak]::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



