.categoryImg img {
  width: 100px;
}

.hero-title.carousel-heading {
  /*color: orange;*/
  /*font-weight: bolder;*/
  /*font-family: fantasy;*/
}

.checkmark li {
  list-style-type: none!important;
  color: #232525;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 1;
  /*padding: 2px 0 2px 10px;*/
  padding: 8px 0 8px 36px;
  font-family: 'Abril Fatface';
}

.checkmark {
  margin-bottom: 20px;
  margin-left: 10px;
}

ul.checkmark li:before {
  font-size: 48px;
  font-size: 4.8rem;
  vertical-align: middle;
  color: #e85555;
  content: "✓";
  display: inline-block;
  font-family: 'ionicons';
  margin-left: -36px;
  margin-right: 20px;
  width: 36px;
}

.satisf-img {
  /*width: 90%;*/
  /*background: red;*/
  height: auto;
  /*display: block!important;*/
}

.satisf-img img {
  /*position: relative;*/
  /*top: -30px;*/
  object-fit: cover;
}

.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark.navbar--apple {
}

@media (max-width: 992px) {
  .d-none.d-md-block.iphone-mockup {
    width: 600px;
  }
}

@media (max-width: 992px) {
  #intro-heading {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 992px) {
  #intro-paragraph {
    font-size: 0.8rem !important;
  }
}

#intro-paragraph {
  font-size: 1.0rem;
}

@media (max-width: 768px) {
  .d-none.intro {
    display: none !important;
  }
}

.d-none.intro {
  display: block !important;
}

@media (max-width: 768px) {
  .checkmark li {
    font-size: 1.0rem;
    font-size: 15px;
    padding: 4px;
  }
}

#client-satist-heading {
  text-align: left !important;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: 'Abril Fatface';
}

#client-satist-heading {
}

@media (max-width: 360px) {
  #client-satist-heading {
    font-size: 1.5rem;
  }
}

#intro-heading {
  font-size: 2.0rem !important;
  color: ghostwhite;
}

@media (max-width: 768px) {
  .d-none.d-md-block.iphone-mockup {
    width: 450px;
  }
}

@media (max-width: 768px) {
  #intro-heading {
    font-size: 1.3rem !important;
  }
}

@media (max-width: 768px) {
  #intro-paragraph {
    font-size: 0.7rem !important;
  }
}

@media (min-width: 768px) {
  .col.d-none.col-md-4 {
    display: block !important;
  }
}

@media (max-width: 992px) {
  .text-uppercase.hero-title.carousel-heading {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .d-md-block.iphone-mockup {
    width: 490px;
  }
}

@media (max-width: 768px) {
  .d-md-block.iphone-mockup {
    width: 490px;
    /*transform: rotate(0deg);*/
  }
}

